.home {
  justify-content: center;
  text-align: center;
}

@media (max-width: 412px) {
  .home {
    padding-top: 50%;
  }
}
@media ((min-width: 413px) and (max-width: 912px)) {
  .home {
    padding: 20%;
  }
}

@media (min-width: 913px) {
  .home {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

@media (max-width: 576px) {
  #img-nasa {
    width: 100px;
    height: 90px;
  }
}

@media (min-width: 577px) {
  #img-nasa {
    width: 500px;
    height: 400px;
  }
}

ul {
  list-style-type: none;
}

#item-list-home {
  text-decoration: none;
}

#item-list-home:hover {
  color: red;
}
